.wrapper{
    border: 1px solid black;
    width: 575px;
    margin: auto;
}

img{
    max-width: 100%;
}

.profile-pic{
    border: 3px solid rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: -80px;
    position: relative;
    top: -0px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
}

.name{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}