body{
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper{
    width: 400px;
    margin: auto;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.168);
}

img{
    max-width: 100%;
}

.profile-pic{
    border: 3px solid rgb(255, 255, 255);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: -80px;
    position: relative;
    top: -0px;
    background-color: white;
    padding: 5px;
    box-shadow: 0px 0px 10px black;
}

.name{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
}

.contact_links{
    margin-bottom: 15px;
    display: flex;
    gap: 20px;
    padding-left: 80px;
}

.icon{
    width: 20px;
    text-align: center;
}
.details{
    font-family: sans-serif;
}

.social_links{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.fa-dribbble{
    color: rgb(255, 0, 170);
}

.fa-facebook{
    color: rgb(0, 115, 255);
}

.fa-linkedin{
    color: rgb(0, 69, 154);
}

.fa-youtube{
    color: rgb(203, 20, 0);
}